input, select, #id_booking_date{
    background-color: #f1f1f1;
    width: 70%;
    padding:5px;
    border-radius:10px;
}
#form_box{
    margin-top: 17px;
    background-color: #3CBC8D;
    left: 20%;
    width: 100%;
    border-radius: 10px;
}
#id_p_name{
    margin-top: 30px;
}
input{
    margin-left: 20px;
}
select {
    margin-left: 10px;
}
#id_booking_date{
    margin-left: 30px;
}
p{
background-color: dark;
}
